:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

body {
    background: #22212C;

    font-family: 'Merriweather Sans', sans-serif;
    font-style: normal;

    color: #837E9F;
}

.container{
    width: 100vw;
    height: 100vh;

    display: grid;
    justify-content: center;
    grid-template-areas: "aside main" "footer footer";
    grid-template-columns: 34.8rem 95.2rem;
    gap: 19px 60px;

    padding: 40px 40px 20px;
}

aside {
    grid-area: aside;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile, .links, .technologies, .experiences, .education, .my-projects, 
.project-1, .project-2, .project-3, .recent-post, .posts {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.profile, .links, .technologies, .experiences, .education {
    display: flex;
    flex-direction: column;
}

.profile {
    align-items: center;
    justify-content: center;

    padding: 32px 0 49px;
}

.profile img {
    width: 128px;
    height: 128px;

    border: 2px solid #00FF00;
    border-radius: 50%;

    margin-bottom: 30px;
}

h1 {
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
}

.profile p{
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;

    margin-top: 10px;
}

.links {
    gap: 20px;

    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    padding: 30px 40px;
}

.links a {
    display: flex;
    align-items: center;
    gap: 20px;
}

h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;

    padding: 30px 20px 0;
}

.technology {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    padding: 20px 30px 30px;
}

.tech {
    width: 86px;
    height: 24px;

    background: #CB92B1;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    text-transform: uppercase;

    color: #000000;
}

ul {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 20px 60px 30px;
}

li p:nth-child(1) {
    font-size: 12px;
    font-weight: 100;
}
  
li p:nth-child(2) {
    font-size: 12px;
    font-weight: 500;
}

main {
    grid-area: main;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.my-projects, .project-1, .project-2, .project-3, .recent-post {
    padding: 30px;
}

.my-projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

.my-projects a {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-1, .project-2, .project-3 {
    width: 66%;
}

.projects a {
    display: flex;
    gap: 16px;

    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    margin-bottom: 20px;
}

.projects img {
    width: 20px;
    height: 20px;
}

.projects p:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.icons {
    display: flex;
    align-items: center;

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    margin-top: 28px;
}

.icons p:nth-child(2), .icons p:nth-child(4), .icons p:nth-child(6) {
    margin-left: 8px;
}

.icons img:nth-child(3) {
    margin-left: 16px;
}

.icons img:nth-child(5) {
    width: 15px;
    height: 15px;

    margin-left: 18.1rem;
}

.posts {
    display: flex;
    gap: 20px;

    padding: 30px 30px 42px;
}

.posts img {
    width: 128px;
    height: 128px;

    border-radius: 50%;
}

h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}

.posts p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.hashtags {
    display: flex;
    flex-wrap: wrap;
    gap: 0 10px;

    margin-top: 28px;
}

footer {
    grid-area: footer;
    
    display: flex;
    justify-content: center;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    padding: 0 0 20px;
}
